.texto {
    margin-left: 350px;
}

#videos {
    background-color: rgb(0, 0, 0);
    color: red;
}

#div1 span {
    color: blueviolet;
}

#img {
    margin-left: 400px;
}

#naveg {
    margin-left: 36%;
}

#tec {
    margin-left: 16%;
}

#aside {
    margin-left: 380px;
    font-size: smaller;
}

#cafe {
    margin-left: 550px;
}

#body {
    background-color: rgb(95, 49, 28);
}

#class {
    margin-left: 3%;
    font-size: 22px;
}

.textos {
    margin-left: 2%;
}

.junto {
    margin-top: 100px;
    margin-left: 20%;
    font-size: x-large;
}

.junto asid {
    font-size: x-small;
}

.descricao {
    font-size: 19px;
    margin-left: 300px;
}

.descricao h3 {
    margin-left: 300px;
}

.cabeca h1 {
    margin-left: 400px;
}

.autoria {
    font-size: 15px;
    margin-left: 30px;
}

.rodape {
    margin-top: 200px;
}

#fotos {
    margin-left: 280px;
}

.gl {
    margin-left: 330px;
}

.gls {
    margin-left: 105px;
    margin-right: 25px;
}

.cardapio {
    margin-left: 625px;
}

#loja {
    margin-left: 590px;
}

#secao {
    margin-left: 325px;
    margin-top: 100px;
}

.decer {
    margin-bottom: 100px;
}

#pl {
    background-color: rgb(162, 98, 30);
}